<?xml version="1.0" encoding="utf-8"?>
<Project xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
	<PropertyGroup Label="GlobalProperties">
		<Debug_Location>D:\Games\steamapps\common\Cities Skylines II</Debug_Location>
		<Release_Location>D:\Games\steamapps\common\Cities Skylines II</Release_Location>
		<Cities2_Game_Location>$(Release_Location)</Cities2_Game_Location>
		<Cities2_Assembly_Location>..\unstripped_libs</Cities2_Assembly_Location>
		<BepInExVersion>5</BepInExVersion>
		<PluginVersion>0.0.1</PluginVersion>
	</PropertyGroup>
</Project>
